<footer class="pv4 white bg-dark-gray">
  <div class="mw-100 mw8-ns center pv0 ph4 z-1 relative mt3">
    <div class="mt3 mb4 mb3-ns">
      <a href="https://twitter.com/topherauyeung" title="Twitter" class="f4 fw5 db dib-ns pr4 link mint dim mb2">Twitter</a>
      <a href="https://www.instagram.com/topherauyeung/" title="Instagram" class="f4 fw5 db dib-ns pr4 link mint dim mb2">Instagram</a>
      <a href="https://dribbble.com/topher" title="Dribbble" class="f4 fw5 db dib-ns pr4 link mint dim mb2">Dribbble</a>
      <a href="https://github.com/topherauyeung/" title="Github" class="f4 fw5 db dib-ns pr4 link mint dim mb2">Github</a>
    </div>
    <small class="f4 db mb3 lh-copy">Feel free to drop me a line at <a href="mailto:sup@topher.design" class="dim serif teal no-underline"><strong>sup@topher.design</strong></a>.</small>
  </div>
</footer>
